<h1><%= @user.username %></h1>


<h2><%= "All Created Events" %></h2>
<% @user.created_events.each do |event| %>
    <tr>
      <td><%= event.description %></td></br>
      <td><%= event.location %></td></br>
      <td><%= event.date %></td></br>
    </tr>
    </br>
  <% end %>

<h4> Past Attended Events </h4>
<% @past_events = @user.past_events %>
    <% @past_events.each do |event| %>
      <tr>
        <td><%= event.description %></td></br>
        <td><%= event.location %></td></br>
        <td><%= event.date %></td></br>
      </tr>
      </br>
<% end %>
  
<h4> Upcoming Events </h4>
<% @future_events = @user.future_events %>
    <% @future_events.each do |event| %>
      <tr>
        <td><%= event.description %></td></br>
        <td><%= event.location %></td></br>
        <td><%= event.date %></td></br>
      </tr>
      </br>
<% end %>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
