<h1><%= @user.username %></h1>


<h2><%= "Created Events" %></h2>
<% @user.created_events.each do |event| %>
    <tr>
      <td><%= event.description %></td></br>
      <td><%= event.location %></td></br>
      <td><%= event.date %></td></br>
    </tr>
    </br>
  <% end %>

<h4> Past Attended Events </h4>
   <%= @user.past_events %>

  


  <h4> Upcoming and Attended Events </h4>
<% @user.attended_events.each do |event| %>
    <%= event.description %>
  <% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
